@import "./_font"
@import "./_icon"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"


body
    background-color: #252527
#button_launch
    position: relative
#button_launch:hover
    background-color: #ff0000

input:focus, button:focus
    outline: none !important
    box-shadow: 0 0 0 0 transparent !important

.container
    width:100vw
    overflow: hidden

.display-anim
    width: 100vw
    height:800vh
    position: relative
    -webkit-animation: blop 3s 
    animation-iteration-count: 1
    animation-fill-mode: forwards
    animation-direction: reverse
@-webkit-keyframes blop
    0%
        top:0px
        
    99%
        top:600px
        
        opacity: 100%
    100%
        opacity: 0%

/*scrollBAR*/
::-webkit-scrollbar
    width: 10px
/* Track
::-webkit-scrollbar-track
    background: #1E1E1E
/* Handle
::-webkit-scrollbar-thumb
    background: #383838

::-webkit-scrollbar-thumb:hover
    background: #555
/* Handle on hover*/
/*scrollBAR*/


// test-1 //////////////////////////////////////////////////////
html
    width: 100%
    height: 100%

body
    width: 100%
    height: 100%
    margin: 0
    overflow: hidden
    background: #222
    font-family: monospace

article
    width: 80%
    margin: auto
    font-size: 2em
    top: 50%
    position: relative
    transform: translateY(-50%)
// fin test-1 //